<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <i class="devicon-ruby-plain-wordmark colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-php-plain colored"></i>
  </div>
  <div class="tech">
    <h2>Frameworks</h2>
    <i class="devicon-react-plain-wordmark colored"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <i class="devicon-vuejs-plain-wordmark colored"></i>
    <i class="devicon-yii-plain-wordmark colored"></i>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Databases</h2>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-oracle-plain colored"></i>
    <i class="devicon-redis-plain-wordmark colored"></i>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    <i class="devicon-heroku-plain-wordmark colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
  </div>
</div>
